# ==========================================
# Hospital IT Service Tracker - Docker Production Config
# ==========================================

# Port Configuration
PORT=8008

# Security
JWT_SECRET=supersecretjwtkeyforhospitalitservice2026

# Database Settings (For Docker Compose MariaDB service)
DB_HOST=db
DB_USER=root
DB_PASSWORD=hospital_db_pass_2026
DB_NAME=itservice
DB_PORT=3306

# Domain URL (Important: Must use HTTPS on aaPanel for LINE OAuth & Webhook)
# Example: https://itservice.hospital.go.th
FRONTEND_URL=https://itservice.tphcp.go.th

# LINE Integration Settings
LINE_LOGIN_CHANNEL_ID=1654103357
LINE_LOGIN_CHANNEL_SECRET=92c3120d5b7dd7f98d570dcd317df5a1
LINE_LOGIN_CALLBACK_URL=https://itservice.tphcp.go.th/api/auth/line/callback

LINE_MESSAGING_CHANNEL_ACCESS_TOKEN=qOUJQH7nfitZFH0038OwxIP8KR/pFyapst8GXVU9LRXU1pStX9Fb+ZgSTMdc2S1Us8Vnl16riyl766lFwsuqdRNClH4DK3HxiollknuelONUTdT5XNf+WfWnK9RxDka+8YmEpuUKP88Dv/VJbRDzIAdB04t89/1O/w1cDnyilFU=
LINE_MESSAGING_CHANNEL_SECRET=19f1662a660fbce41a0e4557daff0efd

LINE_IT_GROUP_ID=C6c3b330050aac48e4851dea514734250
